<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>user.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>com.connectionObect.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckButtons</servlet-name>
        <servlet-class>com.connectionObect.CheckButtons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>com.insertdata.InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.logout.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckButtons</servlet-name>
        <url-pattern>/CheckButtons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
